$background: #1c1c1c;
$accent: #DC143C;
//$trim: #4C596B;

$t: rgb(94, 101, 103);
$trim: $accent;
//$trim: rgb(94, 101, 103);
$trim-width: 1px;

$font-color: white;
//$font-family: 'Roboto', sans-serif;
//$font-family: 'Roboto Mono', monospace;
$font-family: 'Roboto Slab', serif;

$expand-transition: 0.25s;

$input-width: 235px;;

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url('fonts/material-symbols.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    src: url('fonts/roboto-slab.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    // because icon is not aligned with text
    &.date {
        vertical-align: -2px;
    }

    // because icon is not aligned with text
    &.duration {
        vertical-align: -3px;
    }
}


body {
    margin: 0;
    background-color: $background;
}

.page-container {
    display: flex;
    flex-direction: column;


    min-height: 100vh;
    color: $font-color;
    //font-family: ';
    font-family: $font-family;
    //font-family: ;

    ::selection, ::-moz-selection {
        //color: $accent;
        //background: white;
        color: white;
        background: $accent;
    }
}

input, button {
    font-family: $font-family;
}

.messagebox-container {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
}

// TODO is this center?
.message > span {
    vertical-align: middle;
    //flex: 1;
    //text-align: center;
}

.message > span.material-symbols-outlined {
    //flex: 0;
}

.message {
    //display: flex;
    //justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    $animation-time: 1s;
    animation: popUp $animation-time, pulse 2s infinite;
    animation-delay: 0s, $animation-time;
    //border-style: solid;
    border-radius: 8px;
    //border-width: 1px;
    transform: scale(1);
    user-select: none;

    // TODO jakob fragen ob es overflow fixed
    overflow: hidden;

    /* from https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
    @keyframes pulse {
        0% {
            transform: scale(1);
            //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }

        70% {
            transform: scale(1.02);
            //box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
            transform: scale(1);
            //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    // TODO add additional shift animation
    @keyframes popUp {
        0% { transform: scale(0.1); }
        100% { transform: scale(1); }
    }
}

.error {
    background-color: #d10723;
}

.warning {
    background: #ffbf1d;
    color: black;
}

.info {
    background: #c0c0c0;
    color: black;
}

.link-shortener-group-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    margin: 0 0 4px;
    //font-size: 30px;
}

.link-input.input-box {
    margin-bottom: 0;
    margin-right: 5px;
}

.link-input-container {
    white-space: nowrap;
}

.link-shortener-group {
    //position: fixed;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);

    background-color: $background;
    // TODO with or without border
    //border-style: solid;
    border-width: $trim-width;
    border-color: $trim;
    border-radius: 30px;
    margin: 10px;
    padding: 25px;
    width: fit-content;
}

// https://www.w3schools.com/howto/howto_js_collapsible.asp
.advanced-mode-nodes-outer-container {
    //display: flex;
    //flex-direction: column;
    //display: none;
    max-height: 0;
    overflow: hidden;

    // margin-top has temporary fix
    transition: max-height .5s;

    //transition: margin-top .5s;
    //transition-delay: .5s;
}

.advanced-mode-nodes-inner-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.advanced-mode-node-container {
    display: flex;

    & > * {
        flex: 1;
    }
}

input[type=date] {
    text-align: right;
}

//.advanced-mode-nodes-inner-container > div {
//    //width: fit-content;
//}

dialog {
    background-color: $background;
    color: white;
    border-color: $accent;
    font-family: $font-family;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    // TODO min / max width
    width: 350px;
    //height: 450px;
}

dialog > form {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.dialog-button-container {
    display: flex;
    justify-content: center;
}

.dialog-content-container {
    flex: 1;
    text-align: center;
}

.dialog-heading {
    margin-bottom: 15px;
    margin-top: 15px;
}

.dialog-close-button {
    background-color: transparent;
    border-style: none;
    outline-style: none;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    font-size: 16px;

    &:hover {
        color: $t;
    }
}

// should be set from within the script
.advanced-mode-nodes-outer-container.expanded {
    //max-height: 208px;
    //display: block;
    //visibility: visible;
    //margin-top: 0;
    //transition: all $expand-transition;
}

.advanced-mode-container {
    // TODO split with other parts
    margin-top: 15px;
    border-color: $trim;
    border-width: $trim-width;
    border-radius: 10px;
    border-style: solid;
}

//.advanced-mode-outer-container {
//
//    //height: 230px;
//}

.advanced-mode-toggle-container {
    display: flex;
    justify-content: center;
}

// TODO put a arrow or similar here
label.advanced-mode-toggle {
    //background-color: $accent;
    flex: 1;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    transition: background-color .5s, border-radius .1s;
    user-select: none;
    outline: $accent solid 1px;

    &:hover {
        background-color: #b31234;
    }
}

.expiration-mode-container {
    display: flex;
    flex-direction: column;
    min-width: $input-width;
    // TODO fix this to adjust with other inputs
    width: $input-width;
}

input.expiration-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type=checkbox].advanced-mode-toggle:checked + label.advanced-mode-toggle {
    background-color: $accent;
    border-radius: 8px 8px 0 0;
    outline: $accent solid 1px;

    &:hover {
        background-color: #b31234;
    }
}

label.expiration-mode-toggle {
    user-select: none;
}

label.expiration-mode-toggle > span {
    //padding: ;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: $accent;
    border-radius: 0 0 8px 8px;
    min-width: $input-width + 16 + 2;
    text-align: center;
    //font-size: 1px;
    display: block;
    //height: 10px;
}

label.expiration-mode-toggle:hover > span {
    background-color: #b31234;
}

input[type=checkbox].expiration-mode-toggle:checked + label.expiration-mode-toggle {

}

//label.advanced-mode-toggle.expanded {
//    border-radius: 8px 8px 0 0;
//}


label.advanced-mode-toggle:hover {
    //background-color: #b31234;
}

.shorten-button:hover {
    background-color: #b31234;
}

input[type=checkbox].advanced-mode-toggle {
    display: none;
}

input[type=checkbox].expiration-mode-toggle {
    display: none;
}

// the corresponding html element can be removed if this style gets removed
//.advanced-mode-outer-container {
//    overflow: hidden;
//}

.input-box {
    //width: fit-content;
    padding: 8px;
    border-color: $t;
    font-size: 18px;
    border-radius: 10px;
    border-width: 1px;
    height: 24px;
    color: $font-color;
    background-color: $background;
    border-style: solid;
    //margin-right: 5px;
    margin-bottom: 4px;
    min-width: $input-width;
}

.input-box:focus {
    //outline-style: solid;
    // TODO lighter version of border-color
    //outline-color: white;
    outline-style: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

.shorten-button {
    background-color: $accent;
    color: $font-color;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    height: 40px;
    user-select: none;
    min-width: 84px;
    //min-width: 26px;
}

.shorten-button.copy {
    //outline-style: solid;
    //outline-width: 3px;
    //outline-color: #2222ca;

    background-color: #2222ca;

    &:hover {
        background-color: #1b1b9e;
    }
}

.shorten-button.copied {
    //outline-style: solid;
    //outline-width: 3px;
    //outline-color: #1dd320;

    background-color: #1dd320;
}

#footer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    position: fixed;
    left: 0;
    bottom: 0;

    padding: 0 20px;
    border: $trim $trim-width none;
    border-top-style: solid;

    //position: fixed;
    //bottom: 0;
    //vertical-align: bottom;
    width: 100%;
    box-sizing: border-box;
    background-color: $background;
}

.footer-column {
    display: block;
    margin: 12px 25px;
    white-space: nowrap;
    text-align: center;
    //background-color: green;
}

.footer-group {
    display: flex;
    flex-wrap: wrap;
}

a.footer, a.footer:visited {
    color: $font-color;
    text-decoration: none;
    cursor: pointer;
}

a.footer:hover {
    // TODO put in variable and math to $font-color
    color: lightgray;
}