:root {
    --text-color: #ffffff;
    --background-color: #1c1c1c;
    --accent-color: #dc143c;
    --success-color: #1dd320; /*Currently just here to be used later*/

    accent-color: var(--accent-color);
}

/* from https://stackoverflow.com/a/16299904 */
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.advanced_mode {
    display: none;
}

#shorten_button {
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    transition: background 100ms linear;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.11;
    padding: 10px;
    text-decoration-color: initial;
    vertical-align: bottom;
    margin-bottom: 0;
    min-width: 10%;
    position: relative;
    background-image: initial;
    height: 5vh;
}

/* shortening mode colors */
.shorten {
    color: var(--text-color);
    background: var(--accent-color);
    background-color: var(--accent-color);
}

.copy {
    color: var(--text-color);
    background: var(--success-color);
    background-color: var(--success-color);
}

.validatable:invalid {
    border-color: crimson;
}

#box_list > div {
    height: 2vh;
    width: 100%;
    margin: 3% 0 3% 0;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.warning {
    background: #ffbf1d;
    color: black;
}

.error {
    background: #d10723;
}

.info {
    background: #c0c0c0;
    color: black;
}

/* from https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1.02);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.input_field {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
    box-shadow: rgba(24, 24, 24, 0.1) 0 1px 2px inset;
    border-radius: 8px;
    font-size: 20px;
    padding: 0 20px;
    background-color: var(--background-color);
    border: 1px solid rgb(94, 101, 103);
    color: rgb(255, 255, 255);
    height: 5vh;
}

/* Remove the increment/decrement buttons/arrows from numberfields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox is a diva again */
input[type=number] {
    -moz-appearance: textfield;
}

#advanced_mode_outer {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Round checkbox stuff */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--accent-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider {
    border-radius: 17px;
}

.slider:before {
    border-radius: 50%;
}
